
     {% extends 'usuarios/base.html' %}
     {%block conteudo %}
     
     <form action="{% url 'listagem_usuarios' %}" method="post">
        {% csrf_token %}
        <div style="text-align:justify;" class="container">
            <h1>Cadastro de Usuarios</h1>
            Tipo<input name="tipo" class="form-control"  type="text">
            Valor<input name="valor" class="form-control" type="text">
            Cor<input name="cor" class="form-control"type="text">
            Genero<input name="gen" class="form-control"type="text">
            Fornecedor<input name="forn" class="form-control"type="text">
            <button class="form-control-sm" >Enviar</button>
            
    
          </div>
          
      </form>
      
      {% endblock %}
      
   